/*btn*/
.btn {
    border-radius: 0;
    text-shadow: none;
}

.btn.focus, .btn:focus, .btn:hover {
    color: #fff;
    text-decoration: none;
}

.btn-primary {
    color: #fff;
    background-color: #6C9A0D;
    border-color: #6C9A0D;
    border-radius: 3px;
}

.btn-primary:hover {
    color: #fff;
    background-color: #6C9A0D;
    border-color: #6C9A0D;
}


.btn-default {
    color: #6C9A0D;
    background-color: #fff;
    border-color: #6C9A0D;
    border-radius: 3px;
}
.btn-default:hover {
    color: #6C9A0D;
    background-color: #fff;
    border-color: #6C9A0D;
}

.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #6C9A0D;
    border-color: #6C9A0D;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
    color: #fff;
    background-color: #6C9A0D;
    border-color: #6C9A0D;
}

